langchain
langchain-community
chainlit
python-dotenv
requests
beautifulsoup4
openai
PyMuPDF
reportlab
PyPDF2
spacy
transformers
torch
torchvision
torchaudio
tiktoken
selenium
pandas
webdriver-manager
